<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <%= link_to 'The University Libraries', 'https://libraries.psu.edu/', class: 'text-white pe-3', target: '_blank' %> <span class="visually-hidden">link opens in a new tab</span>
    <%= link_to "#{current_partner.name}", EtdaUtilities::Hosts.workflow_url, class: 'text-white pe-3', target: '_blank' %> <span class="visually-hidden">link opens in a new tab</span>
    <%= link_to "© #{Time.now.year} The Pennsylvania State University", 'http://www.psu.edu/copyright-information/', class: 'text-white pe-3', target: '_blank' %> <span class="visually-hidden">link opens in a new tab</span>
    <%= link_to 'Accessibility', 'https://libraries.psu.edu/about/accessibility/request-accommodation-accessibility-help', class: 'text-white pe-3', target: '_blank' %> <span class="visually-hidden">link opens in a new tab</span>
    <%= link_to 'Support', 'https://libraries.psu.edu/website-feedback', class: 'text-white pe-3', target: '_blank' %> <span class="visually-hidden">link opens in a new tab</span>
  </div>
</footer>
