<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <%= link_to 'The University Libraries', 'https://libraries.psu.edu/', class: 'text-white pr-5', target: '_blank' %> <span class="sr-only">link opens in a new tab</span>
    <%= link_to "#{current_partner.name}", WorkflowUrl.call, class: 'text-white pr-5', target: '_blank' %> <span class="sr-only">link opens in a new tab</span>
    <%= link_to "© #{Time.now.year} The Pennsylvania State University", 'http://www.psu.edu/copyright-information/', class: 'text-white pr-5', target: '_blank' %> <span class="sr-only">link opens in a new tab</span>
    <%= link_to 'Accessibility', 'http://accessibility.psu.edu', class: 'text-white pr-5', target: '_blank' %> <span class="sr-only">link opens in a new tab</span>
    <%= link_to 'Support', 'https://libraries.psu.edu/website-feedback', class: 'text-white pr-5', target: '_blank' %> <span class="sr-only">link opens in a new tab</span>
  </div>
</footer>
