<!DOCTYPE html>
<html>
  <head>
    <title>EtdaExplore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render partial: 'shared/matomo_analytics' if ENV['HOSTNAME'].match(/^etda-ex-/).present? %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
